# Server Configuration
HOST=0.0.0.0
PORT=1334
NODE_ENV=production
APP_URL=http://your-server-ip:1334

# Security Keys (CHANGE THESE IN PRODUCTION!)
APP_KEYS=SmNbFSpv6wWIm0lJeTIm821A==,cMWFTwrliwPRgBYxDVxyoh6A==,aD4n39PnbvewQWm6q+ECA+Xw==,EPIHUIordvLJDbgdu5lOxf1A==
API_TOKEN_SALT=lBMgiPElFn9Qw5unstjdl3A==
ADMIN_JWT_SECRET=Ap1FB0o+UJAMiHNv1S9KywA==
TRANSFER_TOKEN_SALT=yWyGCEOntdIBHijoxifS2bA==

JWT_SECRET=Addingit

# License Key Encryption
# Generate with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
ENCRYPTION_KEY=addin

# Database Configuration (PostgreSQL for production)
DATABASE_CLIENT=postgres
DATABASE_HOST=tolenPosDb
DATABASE_PORT=5432
DATABASE_NAME=tolen_pos_db
DATABASE_USERNAME=tolenpos
DATABASE_PASSWORD=Addingit
DATABASE_SSL=false


MAILGUN_DOMAIN=Adding it
MAILGUN_APIKEY=Adding it
SOCKET_CORS_ORIGIN=http://localhost:1334